<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🖥️ Registro</title>
    <!-- BOOSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
<body onload="generarNumCompra()">
  <div class="container">
    <header>
<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://i.ibb.co/M8Y7vTs/1.png');
    height: 400px;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-150">
      <div class="text-white">
        <h1 class="mb-3">PROYECTO REMODELACIÓN CANCHA</h1>
        <h4 class="mb-3">"Douglas Thompson"</h4>
       </div>
    </div>
  </div>
</div>
<!-- Hero -->
   </header>
    <div class="container my-5">
    </div>
      <div class="container">
        <div class="row">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                  <div class="container my-5">
                            
                </h5>


                <form action="" method="POST" class="row g-3 needs-validation" novalidate>
                  <div>
                    <div class="col-me-4"> 
                      <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" role="alert">
                        <label for="num_compra" class="form-label">Compra No.</label>
                        <input type="text" class="form-control" id="num_compra" name="num_compra" value="" readonly>
                      </div>  
                      
                      <script>
                        function generarNumCompra() {
                          var num_compra = Math.floor(Math.random() * 1000000);
                          document.getElementById("num_compra").value = num_compra;
                        }
                        window.onload = generarNumCompra;
                      </script>  
                      <label for="nombre" class="form-label">Nombre</label>
                      <input
                        type="text"
                        class="form-control"
                        id="nombre"
                        name="nombre"
                        placeholder="Nombre y Apellido" required
                        />
                      </div>
                   
                  </div>
                  <div>
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input
                      type="text"
                      class="form-control"
                      id="telefono"
                      name="telefono"
                      placeholder="No. de teléfono" required
                    />
                  </div>
                  <div>
                    <label for="correo" class="form-label">Correo</label>
                    <input
                      type="email"
                      class="form-control"
                      id="correo"
                      name="correo"
                      placeholder="nombre@dominio.com" required
                    />
                  </div>
                  <div>
                    <label for="metros" class="form-label">Cantidad de Mt²</label>
                    <select
                      id="metros"
                      class="form-select"
                      name="metros"
                      onchange="calculateTotal()"
                    > <option value="0" type="number">0</option>
                      <option value="1" type="number">1</option>
                      <option value="2" type="number">2</option>
                      <option value="3" type="number">3</option>
                      <option value="4" type="number">4</option>
                      <option value="5" type="number">5</option>
                      <option value="6" type="number">6</option>
                      <option value="7" type="number">7</option>
                      <option value="8" type="number">8</option>
                      <option value="9" type="number">9</option>
                      <option value="10" type="number">10</option>
                      <option value="11" type="number">11</option>
                      <option value="12" type="number">12</option>
                      <option value="13" type="number">13</option>
                      <option value="14" type="number">14</option>
                      <option value="15" type="number">15</option>
                      <option value="16" type="number">16</option>
                      <option value="17" type="number">17</option>
                      <option value="18" type="number">18</option>
                      <option value="19" type="number">19</option>
                      <option value="20" type="number">20</option>
                      <option value="21" type="number">21</option>
                      <option value="22" type="number">22</option>
                      <option value="23" type="number">23</option>
                      <option value="24" type="number">24</option>
                      <option value="25" type="number">25</option>
                      <option value="26" type="number">26</option>
                      <option value="27" type="number">27</option>
                      <option value="28" type="number">28</option>
                      <option value="29" type="number">29</option>
                      <option value="30" type="number">30</option>
                      <option value="31" type="number">31</option>
                      <option value="32" type="number">32</option>
                      <option value="33" type="number">33</option>
                      <option value="34" type="number">34</option>
                      <option value="35" type="number">35</option>
                      <option value="36" type="number">36</option>
                      <option value="37" type="number">37</option>
                      <option value="38" type="number">38</option>
                      <option value="39" type="number">39</option>
                      <option value="40" type="number">40</option>
                      <option value="41" type="number">41</option>
                      <option value="42" type="number">42</option>
                      <option value="43" type="number">43</option>
                      <option value="44" type="number">44</option>
                      <option value="45" type="number">45</option>
                      <option value="46" type="number">46</option>
                      <option value="47" type="number">47</option>
                      <option value="48" type="number">48</option>
                      <option value="49" type="number">49</option>
                      <option value="50" type="number">50</option>
                      
                    </select>
                  </div>
                  <div>
                    <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
                      <label for="precio" class="form-label">Precio por Mt²</label>
                      <input
                        type="number"
                        class="form-control"
                        id="precio"
                        name="precio"
                        value="660"
                        step="0.01"
                        readonly
                      />
                     </div>
              
                  </div>
                  <div>
                    <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
                      <label for="total" class="form-label">Total</label>
                      <input type="number" class="form-control" id="total" name="total" step="0.01" readonly />
                    </div>
                   </div>
                  <div>
                    <label class="form-check-label" for="constancia" class="form-label"
                      >¿Necesita constancia de donación?</label
                    ><br />
                    <input class="form-check-input"
                      type="radio"
                      name="constancia"
                      value="Si"
                      onclick="showHideFields()"
                    />
                    Si
                    <input class="form-check-label"
                      type="radio"
                      name="constancia"
                      value="No"
                      onclick="showHideFields()"
                    />
                    No <br /><br />
                    <div class="form-label" id="empresa" style="display: none">
                      Nombre de la Empresa <input type="text" class="form-control" name="empresa" />
                    </div>
                    <br />
                    <div class="form-label" id="rtn" style="display: none">
                      RTN <input type="text" class="form-control" name="rtn" />
                    </div>
                    <div>
                    <label for="formaPago" class="form-label">Selecione la forma de pago</label>
                    <select
                      id="formaPago"
                      class="form-select"
                      name="formaPago"
                    > <option value="linkdepago" type="text">Link de pago</option>
                      <option value="efectivo" type="text">Efectivo</option>
                      <option value="cheque" type="text">Cheque</option>
                    </select>
                  </div>
                  <div><br></div>
                    <div>
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="acceptTerms"
                      />
                      <label class="form-check-label" for="acceptTerms" type="checkbox"
                        >Acepto lo términos y condiciones!!!</label
                      >
                    </div>
                    <div>
                      <div class="container my-5">
                      <div class="d-grid gap-2 col-6 mx-auto">
                      <button type="submit" class="btn btn-outline-primary">
                        Comprar
                      </button>
                    </div>
                  </div>
                    </div>

                    <div>
                      <label for="pago"></label>
                      <input type="hidden" id="pago" name="pago" readonly />
                    </div>
                    <label for="saldo"></label>
                    <input type="hidden" id="saldo" name="saldo" readonly />
                    <div>
                    <label for="destinatario"></label>
                    <input type="hidden" id="destinatario" name="destinatario" readonly />
                    <div>
                      <label for="estado1"></label>
                      <input type="hidden" id="estado1" name="estado1" readonly />
                      </div>
                      <div>
                        <label for="responsable"></label>
                        <input type="hidden" id="responsable" name="responsable" readonly />
                        </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- CALCULAR TOTAL -->
      <script>


        function calculateTotal() {
          var metro = parseInt(document.getElementById("metros").value);
          var prec = parseFloat(document.getElementById("precio").value);
          var total = parseFloat(metro * prec);
          var pag = "PROCESANDO"
          var sald = total;
          var estado = "-----"
          var responsabilidad = "Berta Diocinia Mejía"
          var email ="proyectoescuelaecsa@gmail.com"
          document.getElementById("total").value = total.toFixed(2);
          document.getElementById("pago").value = pag;
          document.getElementById("saldo").value = sald;
          document.getElementById("estado1").value = estado;
          document.getElementById("responsable").value = responsabilidad;
          document.getElementById("destinatario").value = email;
        }
        
      </script>
      <!-- CONDICIONES DE MOSTAR SI QUIEREN CONSTANCIA Y OCULATAR SI NO QUIEREN CONSTANCIA -->
      <script>
        function showHideFields() {
          var radioButton = document.querySelector(
            'input[name="constancia"]:checked'
          ).value;
          var empresa = document.getElementById("empresa");
          var rtn = document.getElementById("rtn");
          if (radioButton === "Si") {
            empresa.style.display = "block";
            rtn.style.display = "block";
          } else {
            empresa.style.display = "none";
            rtn.style.display = "none";
          }
        }
      </script>

      <!-- BOOSTRAP -->
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"
      ></script>
    </div>
<br>
    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Form -->
        <section class="">
          <form action="">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
              <!--Grid column-->
              <div class="col-auto">
                <p class="pt-2">
                  <strong>¿Cuál es la esencia de la vida? Servir a otros y hacer el bien</strong>
                </p>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
        </section>
        <!-- Section: Form -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://www.facebook.com/jpineda1388"> JP</a>
      </div>
      <!-- Copyright -->
    </footer>

  </body>
</html>
